body
{
    background-color:gray;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color:white;
    margin:10px auto;
}

site
{
    width:1000px;
    height:100%;
    margin:2px auto;
}

banner
{
    background-color:white;
    width:80%;
    height:180px;
    float:left;
    position:relative;
}

centro
{
    width:100%;
    height:1400px;
    float:left;
    position:relative;
}

conteudo
{
    text-align:justify;
    width:1260px;
    height:1050px;
    margin:10px 10px 10px 10px;
    float:left;
    position:relative;
}

.botao1
{
    width:160px;
    height:50px;
    float:left;
    position:relative;
    text-align:center;
}

.botao2
{
    width:160px;
    height:50px;
    float:left;
    position:relative;
    text-align:center;
}

.botao3
{
    width:160px;
    height:30px;
    float:left;
    position:relative;
    text-align:center;
}

.botao4
{
    width:160px;
    height:30px;
    float:left;
    position:relative;
    text-align:center;
}

.botao5
{
    width:160px;
    height:30px;
    float:left;
    position:relative;
    text-align:center;
}

.botao6
{
    width:160px;
    height:30px;
    float:left;
    position:relative;
    text-align:center;
}

.botao7
{
    width:160px;
    height:30px;
    float:left;
    position:relative;
    text-align:center;
}

.btn1
{
    font-size:20px;
    color:black;
    margin:5px 10px 5px 60px;
    float:left;
    position:relative;
    text-align:center;
}

.btn2
{
    font-size:20px;
    color:black;
    margin:5px 10px 5px 60px;
    float:left;
    position:relative;
    text-align:center;
}

.btn3
{
    font-size:20px;
    color:black;
    margin:5px 10px 5px 60px;
    float:left;
    position:relative;
    text-align:center;
}

.btn4
{
    font-size:20px;
    color:black;
    margin:5px 10px 5px 60px;
    float:left;
    position:relative;
    text-align:center;
}

.btn5
{
    font-size:20px;
    color:white;
    margin:5px 10px 5px 60px;
    float:left;
    position:relative;
    text-align:center;
}

.btn6
{
    font-size:20px;
    color:black;
    margin:5px 10px 5px 60px;
    float:left;
    position:relative;
    text-align:center;
}

.btn7
{
    font-size:20px;
    color:black;
    margin:5px 10px 5px 60px;
    float:left;
    position:relative;
    text-align:center;
}

a
{
    text-decoration:none;
    font-family:arial;
    color:black;
    font-size:20px;
    font-weight:bold;
}

a:hover
{
    color:white;
    font-size:20px;
}

h1
{
    text-align:center;
    background:gray;
    padding:10px;
}

h2
{
    text-align:center;
    background:gray;
    padding:10px;
}

input
{
    background-color:white;
    font:15px verdana, arial, helvetica, sans-serif;
    color:black;
    border:2px solid white;
}

#lb
{
   display:inline-block;
   width:100%;
   text-align:right;
   font-weight:bold;
   background-color:gray;
   padding:5px 5px 5px 5px;
}

p
{
    text-align:justify;
    font-family:timesnewroman;
    font-size:15px;
    color:black;
    padding:15px 15px 15px 15px;
    position:relative;
}

tr,td
{
   font-family:timesnewroman;
   font-size:15px;
}

img
{
    border:2px solid blue;
}
